ShuttleShipments.module/Service Descriptors/Z_UC_IB_SHUTTLE_SHIPMENTS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Z_UC_IB_SHUTTLE_SHIPMENTS" 
xmlns:tns1="urn:sap-com:document:sap:rfc:functions"
targetNamespace="urn:sap-com:document:sap:rfc:functions">
    <wsdl:types>
        <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:element name="Z_UC_IB_SHUTTLE_SHIPMENTS.Response">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="COMMON" type="ZUCOMMON" minOccurs="0"/>
                        <xsd:element name="RF_NUMBER" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="18"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="T_DTLP_SS">
                            <xsd:annotation>
                                <xsd:documentation>Detailed Pallet Information Structure</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZSF_DETAILP_SS" minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="T_DTL_SS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZSF_DETAIL_SS" minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="T_HDR_SS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZSF_HEADER_SS" minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Z_UC_IB_SHUTTLE_SHIPMENTS">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="DIRECTION">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="JOB_TYPE">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="4"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="T_DTLP_SS">
                            <xsd:annotation>
                                <xsd:documentation>Detailed Pallet Information Structure</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZSF_DETAILP_SS" minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="T_DTL_SS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZSF_DETAIL_SS" minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="T_HDR_SS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZSF_HEADER_SS" minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ZUCOMMON">
                <xsd:annotation>
                    <xsd:documentation>UPI: Common interface information.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="DIRECTION" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Inbound / Outbound Indicator (I or O)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RF_NUMBER" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: 18 Character Reference Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUB_RF_NUM" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Subordinate Reference Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="UN_OF_WORK" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Unit of Work Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SNDR_ID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Full Name of Partner System</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SNDR_CLIEN" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: SAP Client number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SNDR_USERI" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Userid of the Person Who created the transaction</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SNDR_TCODE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Interface Code from HDR record</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SNDR_TTYPE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>SAP Tran Type</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="6"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SNDR_CCODE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Company Code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SNDR_DOCNO" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>SAP Document Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RCVR_ID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Full Name of Partner System</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RCVR_CLIEN" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: SAP Client number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RCVR_TCODE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Interface Code from HDR record</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RCVR_TTYPE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>SAP Tran Type</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="6"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SEQNO" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Sequence number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="9"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PREV_SEGID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Record Name For Input Data</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PREV_SEGVS" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Message Segment Version</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CURR_SEGID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Record Name For Input Data</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CURR_SEGVS" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Message Segment Version</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PP_VERSION" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Interface Version control</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PP_RF_VER" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Interface Version control</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PP_RF_SELF" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: 18 Character Reference Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IN_VERSION" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Interface Version control</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IN_RF_VER" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Interface Version control</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSG_SEV_D" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Intensive Debug Messages Logged ( On / Off )</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSG_SEV_I" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Informational Messages Logged ( On / Off)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSG_SEV_Z" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Customer Messages Logged ( On / Off )</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ON_INTEGCK" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Detailed Integrity Check (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ON_SYNC" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: PPair synchronous mode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ON_SEQ_CHK" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: PPair Check seq. numbers (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ON_FEEDBAC" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Feedback wanted (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IN_FNMOD" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: PPair Inbound function module (inbound feedback)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ON_INF_PIC" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Generate screen pictures (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MODE_CALL" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Screen images execute via call transaction</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MODE_BDC" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Screen images to BDC table</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MODE_UPI" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Screen images to UPI table</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CM_DISP" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Call transaction Display mode (A, E, N)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CM_UPDATE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Call transaction update mode (A, S)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CM_ONERROR" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: PPair inbound, CALL mode, Continue-on-error</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CM_ERR_BDC" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Call mode, On Error to BDC table</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CM_ERR_UPI" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: On Error, save data to a UPI table</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CMB_NAM_U" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC session naming via UPI</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CMB_NAM_F" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC session naming via function module</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CMB_SESSNM" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC Session name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CMB_ID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC session userid</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CMB_FNMOD" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Func. mod. to name BDC session</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CMB_MAXUOW" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Max. LUWs per BDC session</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BM_NAM_U" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC session naming via UPI</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BM_NAM_F" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC session naming via function module</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BM_FNMOD" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Func. mod. to name BDC session</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BM_SESSNM" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC Session name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BM_USERID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC session userid</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BM_MAXUOW" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Max. LUWs per BDC session</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BM_START" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Process BDC session immediately? (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BDC_NAME" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC Session name</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BDC_ID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: BDC session userid</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MAX_ASYNC" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Max No of Asynchronous Runs of Core Executor</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SYM_DEST" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: TXCOM symbolic dest for CPIC</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ON_SAP" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: SAP partner? (X=SAP, space = non-SAP)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ON_TRANSLT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Translate to EBCDIC? (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ON_SKIPBAD" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Outbound skip 'bads' after 'n' retries (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OUT_RETRYS" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Number of retries before skip</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OUT_MAXSND" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Outbound MAX CPIC sends</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OUT_FNMOD" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: PPair Outbound function module</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RF_ALERT_1" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Global Alert Reference Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RF_ALERT_2" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Client Alert Reference Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RF_ALERT_3" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Partner Pair Alert Reference Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RF_ALERT_4" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Interface Alert Reference Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RF_ALERT_5" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Extract Program Alert Reference Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSGID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Message identification number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSGTY" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Message Type</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSGNO" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Message Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSGV1" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Message variable</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSGV2" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Message variable</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSGV3" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Message variable</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MSGV4" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Message variable  like sy-msgv4</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LOG_STATUS" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Logging Status (On/Off)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ALERT_STAT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Process Alerts Status (On/Off)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="STATIS_LOG" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Statistical Logging (On / Off)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SENDTO_RFC" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Send Table Back To RFC Caller (X = Yes)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RFC_JOBLG" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Send RFC joblog table (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RFC_TRANLG" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Send RFC transaction table (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RFC_BDCLG" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Send RFC BDC session table (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RFC_ALRTLG" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Send RFC alerts raised table (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RFC_FEEDBK" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Send RFC feedback table (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RFC_DOCUMT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Indicator For sending document table back to RFC caller</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUBM_CNTR" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>4 byte counter</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CYCLE_NUM" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Extract Program Main Event Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="6"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LOG_NONE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Outbound logging (none)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LOG_KEY" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Outbound logging (key data)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LOG_BOTH" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Outbound logging (key and data)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="FILE_RECOV" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Flat file recovery (to UPI table)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BWTCH_IND" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Indicator to enable Background Job Logging</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IDOC_NUM" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>IDoc number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MQKEEPDATA" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Flag for keeping data after successful execution</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MQ_SKIPBAD" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Outbound skip 'bads' after 'n' retries (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MQ_RETRYS" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Number of retries before skip</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DCKEEPDATA" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Flag for keeping data after successful execution</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DC_SKIPBAD" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Outbound skip 'bads' after 'n' retries (ON/OFF)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DC_RETRYS" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>UPI: Number of retries before skip</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSF_DETAIL_SS">
                <xsd:annotation>
                    <xsd:documentation>Detail Structure for Shuttle Shipments</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="SHIP_POINT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Shipping point</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="9"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RECTYPE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field Length 1</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PLP" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>CHAR08</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MATNR" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character field 13 digits</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="13"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CHARG" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field Length = 10</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PCODE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field with Length 5</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MFGSOURCE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Manufacturing Source</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MFGDATE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>CHAR08</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MFGTIME" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Manufacturing Time</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="6"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PLTQTY" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Numeric field length 5</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="QASTATUS" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field Length 1</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CELL_ID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Three-digit character field for IDocs</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CASE_DATA_PALLET" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Cases Per Pallet</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="STATUS_INFO" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field Length = 10</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PRISTINE_PALLET" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field Length 1</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="STORAGE_TYPE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field Length 1</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSF_DETAILP_SS">
                <xsd:annotation>
                    <xsd:documentation>Detailed Pallet Information Structure</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="SHIP_POINT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Locator Shipment ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="9"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RECTYPE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field Length 1</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PLP" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Pallet Lisence Plate</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="8"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="VERSN" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Single-Character Indicator</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="STORG" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Single-Character Indicator</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="JDATE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>3-Byte field</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHIFT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Single-Character Indicator</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ZYEAR" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Single-Character Indicator</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MODID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>3-Byte field</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ZTIME" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character field of length 6</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="6"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PRDCT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Material number, without search help</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PCODE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Pseudo Code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZSF_HEADER_SS">
                <xsd:annotation>
                    <xsd:documentation>Header Structure for Shuttle Shipments</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="SHIP_POINT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Shipping Point</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="9"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RECTYPE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Character Field Length 1</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUPPLANT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Supplying (issuing) plant</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DESTPLANT" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Plant</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CARRIER" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Carrier Code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="VEHICLE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Char 20</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BOL" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Text field length 14</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="14"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PRINTID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Printer ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CASE_QTY" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Shipment cases</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EDI856" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>EDI resend information</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TMODE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Transportation mode</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Z_UC_IB_SHUTTLE_SHIPMENTS.Input">
        <wsdl:part xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="parameters" element="rfc:Z_UC_IB_SHUTTLE_SHIPMENTS"/>
    </wsdl:message>
    <wsdl:message name="Z_UC_IB_SHUTTLE_SHIPMENTS.Output">
        <wsdl:part xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="parameters" element="rfc:Z_UC_IB_SHUTTLE_SHIPMENTS.Response"/>
    </wsdl:message>
    <wsdl:portType name="Z_UC_IB_SHUTTLE_SHIPMENTS.PortType">
        <wsdl:operation name="Z_UC_IB_SHUTTLE_SHIPMENTS">
            <wsdl:input xmlns:rfc="urn:sap-com:document:sap:rfc:functions" message="rfc:Z_UC_IB_SHUTTLE_SHIPMENTS.Input"/>
            <wsdl:output xmlns:rfc="urn:sap-com:document:sap:rfc:functions" message="rfc:Z_UC_IB_SHUTTLE_SHIPMENTS.Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="Z_UC_IB_SHUTTLE_SHIPMENTS.PortTypeBinding" type="rfc:Z_UC_IB_SHUTTLE_SHIPMENTS.PortType">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Z_UC_IB_SHUTTLE_SHIPMENTS">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>